body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Code for Keyframes and Animations */
/* Keyframes */
@keyframes grow-in {
  from {transform: scale(0.95);}
  to {transform: scale(1);}
}
@keyframes grow-down {
  from {transform: scaleY(0);}
  to {transform: scaleY(1);}
}
/* Utility Classes for animations */
.grow-in{
  animation-name: grow-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.grow-down{
  animation-name: grow-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.modalHeader {

  color: white;
  background-color: rgba(102, 51, 153, 1);
}

.modalBody {
  font-size: xx-large;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

#postTitle {
  font-size: x-large;
 
}

#postText {
  font-size: x-large;
  
}



