.results-list {
    background-color: rgb(90, 48, 94);}
h3 {
    font-size: large;
    border-color:rgb(51, 51, 51);
    border: 10px bold;

}

button {
    margin: 10px;
    font-weight:bold;
    font-size: large;
    padding: 5px 15px;
    border-color: rgb(0, 0, 0);
    border-radius: 25px 25px 25px 25px;
    background-color: rgb(51, 51, 51);
}

.workout-section {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 51, 51);
    font-size: 15px;
}

.workout-title {
    font-size: 25px;
}

.cards {
    justify-content: space-around;
}

.card-body {
    overflow: auto;

}




