.results-list {
    background-color: rgb(90, 48, 94);}
h3 {
    font-size: large;
    border-color:rgb(51, 51, 51);
    border: 10px bold;

}

button {
    margin: 10px;
    font-weight:bold;
    font-size: large;
    padding: 5px 15px;
    border-color: rgb(0, 0, 0);
    border-radius: 25px 25px 25px 25px;
}

.workout-section {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(51, 51, 51);
    font-size: 15px;
}

.workout-title {
    font-size: 25px;
}

/* .cards {
    justify-content: space-around;
    margin: 15px 10px 0px 10px;
    padding:10px;
} */

.card-body {
    overflow: auto;
    margin: 0px 10px 0px 15px;

}

.workout-cards {
    font-size: large;
    justify-content: space-around;

    margin: 15px 10px 0px 10px;
    padding:10px;

}

.col {
    margin: 15px 10px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    border: 5px solid rgb(90, 48, 94);
    padding-top: 10px !important;
    padding-bottom: 10px !important ;


}

/* .find-exercises {
    border: 2px solid black;
    justify-content: center;
    align-items: center;
} */





