

.tab-container{
    display:flex
}

.tab{
    transition-duration: 0.5s;
    color: white;
    display: inline-block;
    align-items: left;
    margin: 0 0px 0px 0px;
    cursor: pointer;
    border-radius: 25px 25px 0 0;
    padding: 8px;
}
.active-tab{
    background-color: rgb(90, 48, 94);
    
    
}
.inactive-tab{
    background-color: rgb(99, 99, 99);
}
.inactive-tab:hover{
    background-color: rgb(90, 48, 94);
}

/* Excersizes */
.journal-list{
    transition-duration: 0.5s;
    background-color: rgb(90, 48, 94);
    list-style: none;
    list-style-position: inside;
    border-radius: 0 25px 25px 15px;
    /* important prevents this from being overwritten by bootstrap */
    padding-left: 0 !important;
    padding-top: 15px; 
    padding-bottom: 15px; 
}
.journal-list-item{
    transition-duration: 0.5s;
    color: white;
    background-color: rgb(51, 51, 51);
    /* display: inline-block; */
    width: 95%;
    font-size: 26px;
    text-align: left;
    padding: 20px;
    border-radius: 0 25px 25px 0;
    /* Animation */
    animation-name: grow-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}
.journal-list-item:nth-child(even){
    background-color: rgb(99, 99, 99);
}
.journal-list-item:hover{
    width: 100%;
    padding: 20px 50px
}

/* Stats */
.stats{
    background-color: rgb(90, 48, 94);
    border-radius: 0 25px 25px 0;
}