/* Code for Navbar */
nav {
    background-color: rgb(51, 51, 51);
    margin-bottom: 15px;
  }
  nav h1{
    padding: 10px 10px;
    color: rgb(221, 221, 221);
    /* text-align: left; */
  }
  .flex-container{
    position: relative;
  }
  .home-button{
    position: absolute;
    left: 3px;
  }
  .current-page{
  
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: rgb(90, 48, 94);
  }
  nav li {
    float:left
  }
  .navigation-link{
    display: block;
    color: rgb(221, 221, 221);
    transition-duration: 0.3s;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navigation-link:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    padding: 14px 23px;;
  }
  .current-navigation-link{
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    padding: 14px 23px;;
    transition-duration: 0.3s;
    text-decoration: none;
    text-align: center;
    /* Disables link */
    cursor: default;
    pointer-events: none;
  }